.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
}

article {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.badge {
  position: absolute;
  top: -5px;
  left: 1rem;
  font-weight: 700;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

img {
  display: block;
  width: 250px;
  margin-inline: auto;
}

article:hover {
  box-shadow: #5f000066 5px 5px 10px 10px;
}

article {
  transition: box-shadow 0.45s ease;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
}

@media (max-width: 460px) {
  img,
  .badge {
    display: none;
  }
}

@media (min-width: 535px) {
  .details {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
